<h1>Hello am New here</h1>
<form action= "/users" accept-charset="UTF-8" method="POST" >
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<ul>
    <li>
    <label for ="username">Username</label>
    <input type="text" id= "username" />
    </li>

    <li>
    <label for ="email">Email</label>
    <input type="email" id= "email" />
    </li>

    <li>
    <label for ="password">Password</label>
    <input type="password" id= "password" />
    </li>
</ul>
<input type="submit" value="Submit" />


</form>